<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="container-fluid ms-1 me-auto">


      <div class="col-9 col-sm-10 col-md-11 col-lg-auto">
        <a class="navbar-brand m-0" href="/" style="float:left;"><img src="/images/favicon.ico"></a>
      </div>


      <div class="col-auto align-items-start me-auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex align-items-start me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="/about">About</a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="/users/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="/createCard">Create Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="/createDeck">Design Deck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="/userAccount">{{username}}&#39;s Account</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="/users/register">Register</a>
          </li>
          {{/if}}
          
          </ul>
        </div>
      </div>

      <button
        class="navbar-toggler me-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        
      >
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>



    <div class="col-auto d-flex align-items-start mx-auto">
        <form class="d-flex me-4" action="/search" method="GET">
          <input
            class="form-control  ms-1 me-2"
            list="datalistOptions"
            name="search"
            placeholder="Search..."
            aria-label="Search"
            action="/search"
            method="GET"
          />
          <datalist id="datalistOptions">
            {{#each searchables}}
            {{> tagOption searchable = this}}
            {{/each}}
          </datalist>
          <input class="btn btn-outline-success" type="submit" value="Search"/>
        </form>
    </div>
    </div>
  </nav>
</header>