.notification {
    width: 50%;
    text-align: center;
}

main {
    margin-left: 35px;
    margin-right: 40px;
}

body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    display: inline;
}

button.lower {
    margin-top: 20px;
}

div.form {
    border-radius: 5px;
    padding: 20px;
    width: 36%;
    margin: auto;
}

div.card-box1 {
    /* display: inline-block; */
    /* border: 1px solid #2b415433;
    background: white;
    width: 23%;
    vertical-align: top;
    margin-bottom: 4px; */
    /* vertical-align: top; */
    width: 310px;
    border: 1px solid #DCDCDC;
    box-shadow: 1px 1px 1px 0px #EBEBEB;
    /* padding-right: .2em;
    padding-left: .7em;
    padding-bottom: .6em; */
}

div.card {
    box-shadow: 10px 14px 6px -6px rgba(0,0,0,0.67);
    -webkit-box-shadow: 10px 14px 6px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 14px 6px -6px rgba(0,0,0,0.67);
}

.card {
    margin-bottom: 8px;
}

img.card {
    display: block;
    margin: 4px auto;
    height: 100px;
    width: 90px;
    text-align: center;
}

img.crdimage,
img.deckimage {
    border-radius:4px;
}

p.name {
    text-align: center;
    font-size: auto;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px solid #2b415433;
}

a.ratingLink, a.ratingLink:hover, a.ratingLink:focus, a.ratingLink:active {
    text-decoration: none;
    color: inherit;
}

.checked {
    color: orange;
}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px;
    }

div.col-6 {
    text-align: center;
    padding: 0%;
}  

div.col-6.select-button {
    padding-left: 10px;
}

div.col-6.collect-button {
    padding-right: 9px;
}

div.col-6 a {
    width: 95%;
}

h3.name {
    text-align: center;
}